* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    width: 100%;
    height: 100vh;
}

/* all-fonts */
.text_btn {
    display: inline-block;
    font-family: Quicksand;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;
    vertical-align: 3px;
}

.title_card {
    font-family: Quicksand;
    font-weight: 500;
    font-size: 17px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    margin: 6px auto;
}

.text_card {
    font-family: Quicksand;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
}


/* header */
.header {
    display: inline-block;
    width: 100%;
    height: 68px;
    margin: 20px auto;
    padding: 2px 30px 0 30px;    
}

.logo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 9px;
    a {
        display: inline;
        margin-right: -50px;
    }
}

.search {
    display: inline-block;
    padding-left: 25px;
    margin-left: 100px;
    width: 357px;
    height: 58px;
    background-color: rgba(236, 243, 245, 1);
    border-radius: 10px;
    border: 0;
}

.date {
    display: inline-block;
    margin-right: 21px;
    .todays-date {
        display: inline-block;
        vertical-align: top;
    }
}

.btn {
    display: inline-block;
    width: max-content;
    height: 58px;
    border-radius: 10px;
    background-color: rgba(177, 206, 212, 1);
    border: 0;
}
.plus_btn {
    display: inline-block;
    margin: 0 5px 0 0px;
}

.left_part_header, .right_part_header {
    display: inline-block;
} 
.right_part_header {
    position: absolute;
    right: 30px;
}

/* main-with-cards */
main {
    margin: 40px 139px;
}

.card {
    display: inline-block;
    margin-right: 25px;
    width: 203px;
    height: 214px;
    background-color: rgba(216, 230, 233, 1);
    border-radius: 15px;
    a {
        text-decoration: none;
        color: black;
    }
    box-shadow: 3px 10px 5px rgb(0 0 0 / 0.5);
    .img_size {
        width: 100%;
        height: 143px;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }
}
.card:last-child {
        margin-right: 0px;
    }

.text_card_container {
    display: inline-block;
    text-align: left;
    padding: 0 10px;
    width: 100%;
    .text_card {
        display: inline-block;
        vertical-align: super;
    }
}
.left_part_text_container, .right_part_text_container {
    display: inline;
}

.left_part_text_container {
    margin-right: 30px;
}

.right_part_text_container {
    display: inline-block;
    :first-child {
    padding: 5px 15px 0 0;
    }
}

.right_part_text_container img {
    display: inline-block;
    padding-bottom: 5px;
}


/* button */
.add_table_btn {
    text-decoration: none;
    color: rgba(44, 56, 50, 1);
    padding: 25px 27px 18px 26px;
    box-shadow: 0px 3px 3px rgb(0 0 0 / 0.5);
    border-radius: 10px;
}

.add_table_btn:active {
    border-radius: 10px;
    box-shadow: 0 0 0 rgb(0 0 0 / 0.5);
}

.add_table_btn:hover {
    background-color: rgb(140, 182, 191);
}

section {
    margin-bottom: 25px;
}


/* nav */
.nav {
    border-radius: 5px;
    position: fixed;
    top: 80%;
    left: 4%;
    width: 950px;
    height: 106px;
    background: rgba(234, 240, 240, 1);
    padding: 25px 0;
    text-align: center;
    margin: 50px;
    .btn {
        margin-right: 77px;
        background: rgba(217, 217, 217, 1);
        .add_table_btn {
            padding: 24px 43px 18px 43px;
        }
        .add_table_btn:hover {
            background-color: rgba(74, 92, 47, 1);
            .text_btn {
                color: rgba(236, 243, 245, 1);
            }
        }
    }
    .text_btn {
        color: rgba(169, 169, 169, 1);
    }    
}

nav .btn:last-child {
    margin-right: 0px;
}
